{% extends "base_generic.html" %}

{% block content %}

    {% if validlink %}
        <p>Ingresa y confirma tu nueva contraseña, si sos tan amable.</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nuevo contraseña:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirma contraseña:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Cambio de contraseña fallido!</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.(Traducilo con el de Google)</p>
    {% endif %}

{% endblock %}