{% extends "base_generic.html" %}

{% block content %}


<div style=" margin-bottom: 35px;">
    <div style="background-color: cornflowerblue;">
        <h1 id="texto">Crear Cliente</h1>  
    </div>
</div>

<div class="container" style=" max-width: 585px; margin-left: 426px;">
    <form action="" method="post" >
        {% csrf_token %}
        <table class="table table-success  table-hover">
        {{ form.as_table }}
        </table>
        <button type="submit" value="Submit" class="btn btn-success">Crear</button>
        <!-- <input type="submit" value="Submit" /> -->
    </form>
</div>

{% endblock %}